* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

body {
    margin: 0;
    background-color: #fcfcfc;
}

/* header style */
header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #000;
    text-align: start;
    font-size: 30px;
    color: white;
    margin: 0px;
    width: 100%;
}

header .row {
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.newButton {
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: #fff;
    font-size: 1rem;
    border: none;
    display: inline-block;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 2rem;
}

/* navbar style */
nav {
    text-align: center;
    font-size: 25px;
    float: left;
    width: 10%;
    height: auto;
    padding: 0;
    border: 1px solid #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-transform: capitalize;
    text-decoration-line: none;
}

/* unvisited link */
nav ul li .list a:link,
nav ul li .form a:link {
    color: #000;
}

/* visited link */
nav ul li .list a:visited,
nav ul li .form a:visited {
    color: #3b8cfd;
}

/* mouse over link */
nav ul li .list a:hover,
nav ul li .form a:hover {
    color: #82b1f3;
}

nav ul li .form,
nav ul li .list {
    padding: 20px 0px;
    border-bottom: 1px solid #000;
}

.container {
    float: left;
    padding: 1rem;
    width: 90%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: auto;
}

/* Styling the button */
.col-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-edit-text {
    float: left;
    width: 75%;
    margin-top: 6px;
}

body {
    height: 100vh;
}

.container .data .row {
    padding-bottom: 2rem;
}

.btns {
    border-top: 1px solid #000;
    padding-top: 15px;
    justify-content: flex-end;
}

.cancel {
    cursor: pointer;
    border: 0 none transparent;
    background-color: transparent;
    height: 35px;
    width: 100px;
    color: #000;
    font-size: 15px;
}

.save,
.add {
    cursor: pointer;
    border: 0 none transparent;
    background-color: #3b8cfd;
    height: 35px;
    width: 150px;
    color: #000;
    font-size: 15px;
}

.save:hover,
.add:hover {
    background-color: #82b1f3;
}

/* list section */
.places-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
}

.place {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    text-align: center;
    position: relative;
}

.place img {
    width: 100%;
    height: 100%;
}

.place:hover img {
    opacity: 0.2;
    transition-timing-function: ease-in-out;
}

.place .info {
    visibility: hidden;
    position: absolute;
    color: #3b8cfd;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
}

.place:hover .info {
    visibility: visible;
    position: absolute;
    color: #3b8cfd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease-in-out;
}

.place .info h2 {
    font-size: 2rem;
    margin: 0;
    width: 100%;
}

.place .info p {
    font-size: 1.1rem;
    margin: 0.5rem 0 0 0;
}

.place .info p.sDate,
.place .info p.eDate {
    font-size: 1.5rem;
}

/* Responsive layout */
@media screen and (max-width: 800px) {

    .navForForm,
    .navForList {
        width: 100%;
        margin-top: 0;
    }

    .container {
        width: 100%;
        border: 1px solid #000;
        border-top: none;
        margin-top: 0;
    }

    nav ul li .form {
        border-bottom: 0px none transparent;
    }

    .places-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 350px) {

    .col-label,
    .col-edit-text,
    .cancel,
    .save,
    .add {
        width: 100%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 450px) {
    .place .info h2 {
        font-size: 1.5rem;
    }

    .place .info p {
        font-size: 0.8rem;
    }

    .place .info p.sDate,
    .place .info p.eDate {
        font-size: 1rem;
    }
}
